
{% extends "Worker/header_adm.html" %}
{% block content %}
{% load static %}


<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">

            <h3 class="title1">Message List</h3>

            <div class="col-sm-12" style="margin-top: 10px;">
    <div class="form-title">
                    <h4> List :</h4>
                </div>
                {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                              <div class="alert alert-success"> {{message }}</div>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            {% if data1 %}
                            <table class="table table-striped table-bordered">
            <thead class="alert-danger"><th>Id</th><th>Message</th><th>Reply</th></thead>

                                {%  for k in data1  %}

                                  <tr>


                                        <td>{{forloop.counter}}</td>
                                        <td>{{k.feedback}}</td>
                                        <td>{{k.reply}}</td>




                                    </tr>

                                    {% endfor  %}
                                    {% else %}
                                    <div class="alert alert-success"> No List Available</div>
                                    {% endif %}

            </table>

            </div>
            <div class="row">

        </div>
    </div>
</div>
<!--footer-->
{% endblock %}