{% extends "user/header.html" %}
{% block content %}
{% load static %}

<section class="about py-5">
    <h3 style="text-align: center;" class="heading text-uppercase">Service Request</h3>
	<div class="container-fluid ">
		<div class="row about_grids">

            <div class="col-sm-12" >
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                  <div class="alert alert-success"> {{message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}
                <form method="post" action="/save_service/" method="post" id="myform" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group"> <label for="">State</label>
                            <select name="state" id="state" class="form-control">
                                <option value="">--Select--</option>
                                {%  for k in data %}
                                <option value="{{k.state_id}}">{{k.state}}</option>
                                {% endfor  %}
                            </select> </div>








                            <div class="form-group"> <label for="">District</label>
                                <select name="district" id="district" class="form-control">
                                    <option value="">--Select--</option>

                                </select> </div>


                        <div class="form-group"> <label for="">Workshop</label>
                            <select name="workshop" id="workshop" class="form-control">
                                <option value="">--Select--</option>

                            </select>  </div>
                      <div class="form-group">
                        <span><label>Vehicle Brand</label></span>
                       <span><input type="text" class="form-control" name="vehicle_brand"></span>
                      </div>
                      <div class="form-group">
                        <span><label>Vehicle No</label></span>
                       <span><input type="text" class="form-control" name="vehicle_no"></span>
                      </div>
                    </div>
                      <div class="col-sm-6">


                    <div class="form-group">
                        <span><label>Service Request Details</label></span>
                       <span><textarea class="form-control" name="description"></textarea></span>
                      </div>
                      <div class="form-group"> <label for=""> Date of Completion</label>
                        <input type="date" class="form-control" value=""  id="date" placeholder="Date" name="date_completion"> </div>
                        <div class="form-group"> 
                       
                         <span><input  type="hidden" value="High Priority" class="form-control" name="type_of_service"></span>
                        </div></div>
                      <div class="col-sm-12"  style="text-align: center;margin: 4px;"><div>
                        <span><input type="submit" value="Submit" class="btn btn-info"></span>
               </div></div>
</div>


</div>

                </form>
                <script type="text/javascript">
                  window.onload=function(){//from ww  w . j  a  va2s. c  o  m
              var today = new Date().toISOString().split('T')[0];
              document.getElementsByName("date_completion")[0].setAttribute('min', today);
                  }

                    </script>
                <link href="{% static 'assets/jquery/jquery-ui.css' %}" rel="stylesheet" type="text/css"  />

<script type="text/javascript" src="{% static 'assets/jquery/jquery-ui.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/jquery/jquery.js' %}"></script>
<script>
$(function() {


	$( "#date" ).datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true,
changeYear: true,minDate:'0', });


  });</script>

<script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
<script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
<script>

(function ($, W, D)
{
var JQUERY4U = {};
JQUERY4U.UTIL =
{
setupFormValidation: function ()
{
$.validator.addMethod(
"regex",
function(value, element, regexp) {
var check = false;
return this.optional(element) || regexp.test(value);
},
"Not a valid Input."
);

//form validation rules
$("#myform").validate({
ignore: [],
rules: {
  state: {
                          required: true,


                        },
                        district: {
                          required: true,


                        },
                        workshop: {
                          required: true,


                        },
  vehicle_brand: {
    required: true,
regex :/^[a-zA-Z ]+$/,

		},
    vehicle_no: {
    required: true,
regex :/^[A-Z]{2}\s[0-9]{1,2}\s[A-Z]{1,2}\s[0-9]{1,4}$/,

		},


    description: {
		  required: true,
          minlength:10

		},
    type_of_service: {
		  required: true,


		},
    date_completion: {
		  required: true,


		},
	  },
	  messages: {



},
errorPlacement: function(error, element) {
            error.appendTo( element.parent() );
        },
submitHandler: function (form) {
form.submit();
}
});
}
}
//when the dom has loaded setup form validation rules
$(D).ready(function ($) {
JQUERY4U.UTIL.setupFormValidation();
});
})(jQuery, window, document);
</script>
<script>
  $("#state").change(function () {
      var state = $(this).val();

      $.ajax({

            url: '/display_district/',
            data: {
                'state_id': state
            },
            dataType: 'json',
            success: function (data) {


               let html_data = '<option value="">--Select--</option>';
   data.forEach(function (data) {
   html_data += `<option value="${data.district_id}">${data.district}</option>`
   });
   $("#district").html(html_data);



            }
      });

   });
   $("#district").change(function () {
      var district = $(this).val();

      $.ajax({

            url: '/display_workshop/',
            data: {
                'district_id': district
            },
            dataType: 'json',
            success: function (data) {


               let html_data = '<option value="">--Select--</option>';
   data.forEach(function (data) {
   html_data += `<option value="${data.login_id}">${data.Name} &nbsp;&nbsp${data.place}</option>`
   });
   $("#workshop").html(html_data);



            }
      });

   });
  </script>
            </div>
            <div class="col-sm-3" ></div>
		</div>
	</div>
</section>
{% endblock %}