{% extends "user/header.html" %}
{% block content %}
{% load static %}

<section class="about py-5">
    <h3 style="text-align: center;" class="heading text-uppercase">Complaint</h3>
	<div class="container-fluid py-lg-5 py-3">
		<div class="row about_grids">
            <div class="col-sm-3" ></div>
            <div class="col-sm-6" >
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                <div class="alert alert-success"> {{message }}</div>
                  {% endfor %}
              </ul>
              {% endif %}
                <form method="post" action="/save_complaint/" method="post" id="myform" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-sm-6">

                    <div class="form-group">
                        <span><label>Complaint</label></span>
                       <span><textarea class="form-control" name="complaint"></textarea></span>
                      </div>

                      <div class="col-sm-12"  style="text-align: center;margin: 4px;"><div>
                        <span><input type="submit" value="Submit" class="btn btn-info"></span>
               </div></div>
</div>




                </form>
                <link href="{% static 'assets/jquery/jquery-ui.css' %}" rel="stylesheet" type="text/css"  />

<script type="text/javascript" src="{% static 'assets/jquery/jquery-ui.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/jquery/jquery.js' %}"></script>
<script>
$(function() {


	$( "#dob" ).datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true,
changeYear: true,minDate:'0', });


  });</script>

<script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
<script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
<script>

(function ($, W, D)
{
var JQUERY4U = {};
JQUERY4U.UTIL =
{
setupFormValidation: function ()
{
$.validator.addMethod(
"regex",
function(value, element, regexp) {
var check = false;
return this.optional(element) || regexp.test(value);
},
"Not a valid Input."
);

//form validation rules
$("#myform").validate({
ignore: [],
rules: {

    complaint: {
		  required: true,

		},


	  },
	  messages: {



},
errorPlacement: function(error, element) {
            error.appendTo( element.parent() );
        },
submitHandler: function (form) {
form.submit();
}
});
}
}
//when the dom has loaded setup form validation rules
$(D).ready(function ($) {
JQUERY4U.UTIL.setupFormValidation();
});
})(jQuery, window, document);
</script>
            </div>
            <div class="col-sm-3" ></div>
		</div>
	</div>
</section>
{% endblock %}